body {
            background-color: lightblue;
        }
 
        #box {
            width: 600px;
            margin: auto;
            background-color: white;
            padding: 10px;
        }
 
        #header {
            background-color: steelblue;
            color: white;
            padding: 10px;
            text-align: center;
        }
 
        #menubar {
            text-align: center;
            padding: 8px;
            background-color: lightgray;
        }
 
        #footer {
            text-align: center;
            background-color: lightgray;
            padding: 8px;
        }